<%-include header%>
  <%
    function formatDate(date) {
      if (date == null)
      {
        return "";
      } else {
        var date = new Date(date);
        var d = date.getDate();
        var m = date.getMonth() + 1;
        if(d<10){
            d='0'+d;
        }
        if(m<10){
            m='0'+m;
        }
        var y = date.getFullYear();
        return y + '/' + m + '/' + d;
      }
    }
    %>
    <!-- Navigation -->


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/theme/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Mewo Blog </h1>
              <span class="subheading">A blog for the JavaScripts coder</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% if(data && data.posts){%>
            <%data.posts.forEach(po=>{%>
              <div class="post-preview">
                <a href="blog/post/<%=po.seolink%>.html">
                  <h2 class="post-title">
                    <%=po.title%>
                  </h2>

                  <div style="overflow: hidden; width:auto; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                    <span>
                      <%- po.content %>
                    </span>
                  </div>


                </a>
                <p></p>
                <p class="post-meta">Posted by
                  <a href="#">
                    <%=po.author%>
                  </a>
                  on
                  <%=formatDate(po.create_at)%>
                </p>
              </div>
              <hr>
              <%})%>
                <%}%>
                  <!-- Pager -->
                  <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                  </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <%-include footer%>